body {
  box-sizing: border-box;
  margin: auto;
  /* background: rgba(230,226,231,0.3); */
  background: #ffffff;
}

.photo {
  height: 300px;
  background: #ffffff;
  z-index: 3;
  position: relative;
}

.content {
  height: auto;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1000px;
  background: #ffffff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  padding-bottom: 60px;
}

.header_container {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  text-align: center;
}

.header_container img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 125px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.header_menu {
  background-color: #122344;
  height: auto;
  width: 100%;
}

.header_menu_content {
  text-align: center;
  user-select: none;
}

.header_menu_content li {
  font-family: "Comfortaa";
  list-style-type: none;
  font-size: 0.9rem;
  padding-bottom: 17px;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
}

.header_menu_content li:hover {
  color: #00a0e0;
}

.footer_container {
  height: 150px;
  bottom: 0px;
  background-color: #122344;
}

.footer_container_content {
  text-align: center;
  user-select: none;
}

.footer_container_content li {
  font-family: "Comfortaa";
  list-style-type: none;
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
}

.footer_container_2 {
  height: 30px;
  bottom: 0px;
  background-color: #061533;
}

.content_element {
  margin-top: 0;
  text-align: center;
}

.content_element * {
  margin-top: inherit;
}

.content_element :not(.content_head_img) {
  padding-left: 20px;
  padding-right: 20px;
}

.dobor_functions span {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content_element .content_head_img {
  width: 100%;
}

.content_element h2 {
  font-size: 1.9rem;
  font-family: "WalsheimBold";
}

.content_element p {
  font-family: "WalsheimReg";
  font-size: 0.95rem;
  line-height: 1.35rem;
}

.dobor_functions h3 {
  font-size: 1.5rem;
  font-family: "WalsheimBold";
  text-align: left;
  padding-top: 23px;
  padding-left: 60px !important;
}

.dobor_functions li {
  text-align: left;
  list-style-type: disc;
  padding-left: 100px !important;
  padding-bottom: 10px;
}
.dobor_functions p {
  display: inline;
  padding-left: 0 !important;
}

.dobor_functions li span {
  font-family: "WalsheimBold";
}

table,
td {
  border: 5px solid white;
}

table {
  max-width: 100%;
  border-collapse: collapse;
}

td {
  padding: 20px;
  max-width: 50px;
  word-wrap: break-word;
}

.phone {
  color: black;
  vertical-align: middle;
  padding-left: 50px;
}

#kyivstar::before {
  padding-right: 5px;
  content: url(./kyivstar.png);
}

#vodafone::before {
  padding-right: 5px;
  content: url(./vodafone.png);
}

#lifecell::before {
  padding-right: 5px;
  content: url(./lifecell.png);
}

.mobo {
    font-family: "WalsheimBold";
    font-size: 1.1rem;
    display: block;
    padding-top: 10px;
}

.circle_ ~ li{
    list-style-type: circle;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "WalsheimReg";
  src: url("./GTWalsheimPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "WalsheimBold";
  src: url("./GTWalsheimPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
